{% extends 'base.html' %}

{% block header %}
  <h1>Review: {{ movie['title'] }}</h1>
{% endblock %}

{% block content %}

{% if movie_genres %}
  <p class="genres">Genres: {{ movie_genres | map(attribute='name') | join(', ') }}</p>
{% endif %}

<form method="post">
  <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">

  <fieldset>
    <legend>Did you like it?</legend>
    <label><input type="radio" name="liked" value="1"> Yes</label>
    <label><input type="radio" name="liked" value="0"> No</label>
    <label><input type="radio" name="liked" value="" checked> No answer</label>
  </fieldset>

  <fieldset>
    <legend>Would you recommend it?</legend>
    <label><input type="radio" name="recommend" value="1"> Yes</label>
    <label><input type="radio" name="recommend" value="0"> No</label>
    <label><input type="radio" name="recommend" value="" checked> No answer</label>
  </fieldset>

  <label for="body">Review</label>
  <textarea name="body" id="body" maxlength="2000">{{ body }}</textarea>

  <input type="submit" value="Save">
</form>

{% endblock %}
