{% extends 'base.html' %}

{% block header %}
  <h1>Edit Review</h1>
{% endblock %}

{% block content %}
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">

  <p><strong>Movie:</strong> {{ review['title'] }}</p>

  <fieldset>
    <legend>Did you like it?</legend>
    <label><input type="radio" name="liked" value="1" {% if review['liked'] %}checked{% endif %}> Yes</label>
    <label><input type="radio" name="liked" value="0" {% if review['liked'] is not none and not review['liked'] %}checked{% endif %}> No</label>
    <label><input type="radio" name="liked" value="" {% if review['liked'] is none %}checked{% endif %}> No answer</label>
  </fieldset>

  <fieldset>
    <legend>Would you recommend it?</legend>
    <label><input type="radio" name="recommend" value="1" {% if review['recommend'] %}checked{% endif %}> Yes</label>
    <label><input type="radio" name="recommend" value="0" {% if review['recommend'] is not none and not review['recommend'] %}checked{% endif %}> No</label>
    <label><input type="radio" name="recommend" value="" {% if review['recommend'] is none %}checked{% endif %}> No answer</label>
  </fieldset>

  <fieldset>
    <legend>Genres</legend>
    {% for genre in all_genres %}
      <label>
        <input type="checkbox" name="genres" value="{{ genre['id'] }}"
          {% if genre['id'] in current_genre_ids %}checked{% endif %}>
        {{ genre['name'] }}
      </label>
    {% endfor %}
  </fieldset>

  <label for="body">Review</label>
  <textarea name="body" id="body" maxlength="2000">{{ review['body'] }}</textarea>

  <input type="submit" value="Update">
</form>
{% endblock %}
