{% extends 'base.html' %}
{% from '_macros.html' import tristate %}

{% block header %}
  <h1>{% block title %}Explore{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for review in reviews %}
    <article class="card">

      <h2>{{ review['title'] }}</h2>
      <p>by {{ review['username'] }}</p>

      <div class="meta">
        {{ tristate('Liked', review.liked) }}
        {{ tristate('Recommend', review.recommend) }}
      </div>

      <p class="review-body">{{ review['body'] }}</p>

      <div class="actions">

        {% if review['author_id'] == current_user_id %}
          <button disabled>Like ({{ review['likes_count'] }})</button>
          <button disabled>Dislike ({{ review['dislikes_count'] }})</button>
        {% else %}
          <form method="post" action="{{ url_for('movies.like', review_id=review['id']) }}">
          <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <button type="submit" class="{{ 'active' if liked_map.get(review['id']) == 1 else '' }}">
            Like ({{ review['likes_count'] }})
          </button>
        </form>

          <form method="post" action="{{ url_for('movies.dislike', review_id=review['id']) }}">
          <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
            <button type="submit" class="{{ 'active' if liked_map.get(review['id']) == -1 else '' }}">
            Dislike ({{ review['dislikes_count'] }})
          </button>
        </form>
        {% endif %}

      </div>

    </article>
  {% endfor %}

{% endblock %}
